<template name="ApplicationLayout">

    <head>
        <title>chatroom</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper container">
                    <h1>chattyTeeth welcome!!!</h1>
                    <ul class="right">
                        <li> sign in now {{> loginButtons}}</li>
                    </ul>
                </div>
            </nav>


        </header>

        {{> yield}}



    </body>
</template>




<template name="login">
    <form class="name-form">
        <input type="text" name="firstname">
        <input type="submit">
    </form>
    <ul>
        {{#each posts}}
        <li>{{username}}:{{name}}</li>
        {{/each}} {{> friends}}
    </ul>
</template>

<template class="box" name="friends">
    <div class="container">
        <div class="section" style="width: 300px;">
            <div class="card-panel">
                <h2 class="txt">Friends list</h2>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                {{#each listUser}}
                <p id="userNameOnList"> {{username}}</p>
                {{/each}}
            </tr>
        </thead>
    </table>
</template>